/*  your css code here. If applicable */
#table-1 {
    width: 100%;
    border-collapse: collapse;
}

.right{
	text-align:right;
}

.center{
	text-align:center;
}

#table-2 {
    width: 100%;
    border-collapse: collapse;
}

#table-2 td {
	padding: 5px;
	text-align: center;
}

#table-3 {
    width: 100%;
    border-collapse: collapse;
}

#table-3 td {
	padding: 5px;
	text-align: center;
}